bots=BMS,ComplejoSolarBot

BMS.chatID=107036721

BMS.token=619523314:AAGhuQjm94f6lichokFq5MshrhnrN7nivOM

#############################################################################

ComplejoSolarBot.chatID=162240472

ComplejoSolarBot.token=571133109:AAFcTZkbtpaGf0iRIok0Hg-Gq68j_7fBHdg

#
# Read http://www.instructables.com/id/Telegram-Bots-for-beginners/
# to see how to set up bots and find your chat ids
#

# bots=bot1,bot2

# bot1.chatId=22334455
# bot1.token=xxxxxx

# bot2.chatId=654321
# bot2.token=yyyyyyyyyyy
